@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap");

// Variable definition
$tablette: 1180px;
$phone: 800px;
$black: #2a2a2a;
$white: #fff;
$grey-light: #e6e6e6;
$grey-dark: #d9d9d9;
$primary: #3e4ca7;
$secondary: #ff6391;

#app {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  @media only screen and (max-width: $tablette) {
    width: 90%;
  }
  @media only screen and (max-width: $phone) {
    width: 95%;
  }
  width: 75%;
  margin: auto;
}

.btn {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  user-select: none;
  padding: 18px 0;
}

.btn-default {
  color: $black;
  background-color: $grey-light;
  border-color: $grey-light;

  &:hover {
    background-color: $grey-dark;
    border-color: $grey-dark;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-secondary {
  color: $white;
  background-color: $secondary;
  border-color: $secondary;
}
